<table class="table is-fullwidth">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Location</th>
    <th>Category</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    {{#each placeMark.places}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{description}}
        </td>
        <td>
          {{location}}
        </td>
        <td>
          {{category}}
        </td>
        <td>
          {{longitude}}
        </td>
        <td>
          {{latitude}}
        </td>
        <td>
          <a href="/place/{{../placeMark._id}}/editplace/{{_id}}" class="ui icon button">
            <i class="fas fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/placeMark/{{../placeMark._id}}/deleteplace/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
